<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">新增餐廳 - {{ restaurant.name }}</h3>
          <hr>
          <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
            <div class="row mb-2 g-2 align-items-center">
              <label for="name" class="col-md-2 col-form-label">
                名稱
              </label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control" placeholder="麥當勞" value="{{ restaurant.name }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="name_en" class="col-md-2 col-form-label">
                英文名稱
              </label>
              <div class="col-md-10">
                <input type="text" name="name_en" class="form-control" placeholder="McDonald's" value="{{ restaurant.name_en }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="category" class="col-md-2 col-form-label">
                類別
              </label>
              <div class="col-md-10">
                <input type="text" name="category" class="form-control" list="categories" placeholder="美式" value="{{ restaurant.category }}" required>
                <datalist id="categories">
                  <option>中東料理</option>
                  <option>日本料理</option>
                  <option>義式餐廳</option>
                  <option>美式</option>
                  <option>酒吧</option>
                  <option>咖啡</option>
                </datalist>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="image" class="col-md-2 col-form-label">
                照片
              </label>
              <div class="col-md-10">
                <input type="text" name="image" class="form-control" placeholder="請輸入圖片連結" value="{{ restaurant.image }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="location" class="col-md-2 col-form-label">
                地址
              </label>
              <div class="col-md-10">
                <input type="text" name="location" class="form-control" placeholder="100台北市中正區館前路8號" value="{{ restaurant.location }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="phone" class="col-md-2 col-form-label">
                電話
              </label>
              <div class="col-md-10">
                <input type="text" name="phone" class="form-control" placeholder="02-1234-5678" value="{{ restaurant.phone }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="google_map" class="col-md-2 col-form-label">
                地圖
              </label>
              <div class="col-md-10">
                <input type="text" name="google_map" class="form-control" placeholder="請輸入Google地圖連結" value="{{ restaurant.google_map }}" required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="rating" class="col-md-2 col-form-label">
                評分
              </label>
              <div class="col-md-10">
                <input type="number" name="rating" class="form-control" placeholder="4.8" max="5" min="0" step="0.1" value="{{ restaurant.rating }}"
                  required>
              </div>
            </div>

            <div class="row mb-2 g-2 align-items-center">
              <label for="description" class="col-md-2 col-form-label">
                簡介
              </label>
              <div class="col-md-10">
                <textarea name="description" class="form-control" placeholder="這是一個好吃的餐廳..." required>{{ restaurant.description }}</textarea>
              </div>
            </div>

            <hr>

            <div class="text-right">
              <button class="btn btn-primary" type="submit">儲存</button>
              <a href="/" class="btn btn-outline-secondary btn-back">返回</a>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>