<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner row justify-content-around">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <form action="/">
        <h4 class="mb-2">排序餐廳：</h4>
        <div class="input-group">
          <select class="form-control" aria-label="select" name="sorting" value="{{sorting}}">
            <option>請選擇排序方式</option>
            <option value="asc">依名稱A到Z</option>
            <option value="desc">依名稱Z到A</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="sorting-button"><i class="fa-solid fa-sort"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        <!-- card -->
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
            <hr>
            <div class="d-flex justify-content-end m-2">
              <a class="btn btn-outline-success" href="/restaurants/{{ this._id }}/edit">修改</a>
              <a class="btn btn-outline-secondary" href="/restaurants/{{ this._id }}">資訊</a>
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">刪除</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>